/*CSS document*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*HEADER*/
body {
  background-image: url(../images/ocean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#ariel {
  width: 20%;
  position: absolute;
  animation-name: ariel;
  animation-name: flyv;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
}


@keyframes tekst {

 from {

 }


}


#hi{
  animation-name: tekst;
  position: absolute;


}





/*her defineres vores animation*/
@keyframes ariel {
  from {
    left: 0px;

  }

  to {
    left: 1000px;
  }
}

@keyframes flyv {
  0%   {top: 10px;
  left: 99px;}
  25% {
top: 100px;
left: 1200px;


  }
  50%  {
top: 333px;
left: 90px;

  }
  100% {
top: 99px;
left: 19px;

  }

}
